.Header {
  background-color: aquamarine;
  display: flex;
  gap: 15px;
  justify-content: center;
  padding: 15px;
}

.HeaderEl {
  font-size: 35px;
  background-color: blueviolet;
  border: 1px solid black;
}

.BuysEl {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}
.Buys {
  display: flex;
  gap: 5px;
  padding: 10px;
}

.Category {
  display: flex;
  gap: 5px;
  padding: 10px;
}